#golf {
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.btn-team {
    border-radius: 100px;
    background-color: #ddf21e;
    color: black;
    font-size: 18px;
    font-weight: bold;
}