#golf {
    padding-right: 0px !important;
    padding-left: 0px !important;
}

@media screen and (min-width: 1024px) {
    #right-golf {
        width: 80%;
        height: 80%;
        margin: auto;
        vertical-align: 50%;
    }
}