.muy-left {
    padding-top: 1.5rem;
}

.social-media {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

#discord {
    background-image: url(../images/socialMedia/Discord.svg);
}

#twitter {
    background-image: url(../images/socialMedia/Twitter.svg);
}

#instagram {
    background-image: url(../images/socialMedia/Instagram.svg);
}

#youtube {
    background-image: url(../images/socialMedia/Youtube.svg);
}

.btn-wallet {
    background-color: transparent;
    border: none;
    width: 8rem;
    background-image: url("../images//UI/connectWallet.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    font-weight: bold;
}

.btn-wallet:active,
.btn-wallet:focus,
.btn-wallet:hover {
    background-color: transparent;
    outline: none;
}

.flyman {
    width: 100%;
}

@media screen and (min-width: 500px) {
    .muy-left {
        padding-top: 2.5rem;
    }
}
 
@media screen and (min-width: 1024px) {
    .muy-left {
        padding-top: 7rem;
    }

    .social-media-container {
        width: 65%;
    }
}