.metaverse {
    background-image: url("../images//welcometoverse_crop.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 25vh;
}

#flyman-metaverse {
    width: 40%;
    transform: translateY(1.25rem);
}

@media screen and (min-width: 500px) {
    #flyman-metaverse {
        width: 27%;
        transform: translateY(0.5rem);
    }
}

@media screen and (min-width: 1024px) {
    .metaverse {
        height: 60vh;
    }

    #flyman-metaverse {
        width: 30%;
        transform: translateY(0.125rem);
    }
}