.metaverse {
    background-image: url("../images//welcometoverse_crop.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 25vh;
}

#flyman-metaverse {
    height: inherit;
}

@media screen and (min-width: 1024px) {
    .metaverse {
        height: 60vh;
    }
}