.parent{
    position: relative;
    width: 100%;
}

.img{
    width:inherit;
}

.top-left p {
    padding-bottom: 0.75rem;
}

@media screen and (min-width: 1024px) {
    .top-left{
        position: absolute;
        top:8%;
        left:5%;
        width: 50%;
    }

    .top-left h2 {
        font-size: 2rem;
        text-align: left !important;
    }

    .top-left p {
        font-size: 1rem;
        font-weight: bold;
    }
}

@media screen and (min-width: 1232px) {
    .top-left h2 {
        font-size: 2.5rem;
        text-align: left !important;
    }

    .top-left p {
        font-size: 1.5rem;
        font-weight: bold;
    }
}