.team-container {
    width: 100%;
}

.btn-team {
    border-radius: 100px;
    background-color: #ddf21e;
    padding: 1rem 1rem;
    margin-top: 4rem;
    margin-bottom: 1rem;
    color: black;
    font-size: 24px;
    font-weight: bold;
}

.team-card {
    width: 8.5rem;
    /* height: 6.5rem; */
    border-radius: 40% 40% 20% 20%;

    background: rgb(115,139,153);
    background: radial-gradient(circle, rgba(115,139,153,1) 0%, rgba(22,22,22,1) 100%);
}

.team-img {
    width: 6.25rem;
    height: auto;
}

.flyman-container {
    width: 80%;
    position: relative;
    text-align: center;
    color: white;
}

.second-team {
    width: 100%;
}

/* Centered text */
.centered {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

@media screen and (min-width: 500px) {
    .team-card {
        width: 12rem;
    }

    .team-img {
        width: 9rem;
    }
}

@media screen and (min-width: 1024px) {
    .team-container {
        width: 80%;
    }

    .btn-team {
        border-radius: 100px;
        background-color: #ddf21e;
        padding: 1rem 1.75rem;
        margin-top: 5rem;
        margin-bottom: 4rem;
        color: black;
        font-size: 54px;
        font-weight: bold;
    }

    .team-card {
        width: 13rem;
    }

    .team-img {
        width: 10rem;
    }

    .flyman-container {
        width: 25%;
    }

    .second-team {
        width: 75%;
    }
}